
<div>{{scrollCount}} / 7</div>
<div>+ {{bonusAtk}} A</div>
<div>+ {{bonusDex}} D</div>


<br />
<button (click)="clear()">
  Clear
</button>
<br />
<button (click)="try10()">
  10% success
</button>
<span> 10's used: {{x10sUsed}}</span>
<br />
<button (click)="try30()">
  30% success
</button>
<span> 30's used: {{x30sUsed}}</span>
<br />
<button (click)="try60()">
  60% success
</button>
<span> 60's used: {{x60sUsed}}</span>
<br />
<button (click)="try70()">
  70% success
</button>
<span> 70's used: {{x70sUsed}}</span>


<div>Item Count: {{itemCount}}</div>
<button (click)="resetAll()">
  Reset All
</button>
<div *ngIf="itemDestroyed">Destroyed</div>